#reset {
  margin: 5px;
  padding: 2px;
  position: absolute;
  top: 5px;
}

#region {
  text-align: center;
  margin-bottom: 10px;
}

#region-name {
  padding-top: 2px;
  margin:0;
}

#vector-map {
  margin: 5px;
  height: calc(100% - 95px);
}

#totals-form {
  margin: 0px 5px 5px 5px;
}

.map-tab-panel {
  margin-bottom: 5px;
  height: calc(100% - 50px);
}
.tab-panel {
  margin-bottom: 5px;
  height: 33%;
}

.dx-card {
  margin: 5px;
  padding: 5px;
  height: 100%;
}